@font-face {
  font-family: 'Stem-Light';
  src: url('Stem-Light.eot');
  src: url('Stem-Light.eot?#iefix') format('embedded-opentype'),
       url('Stem-Light.svg#Stem-Light') format('svg'),
       url('Stem-Light.ttf') format('truetype'),
       url('Stem-Light.woff') format('woff'),
       url('Stem-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

