@font-face {
  font-family: 'Stem-Thin';
  src: url('Stem-Thin.eot');
  src: url('Stem-Thin.eot?#iefix') format('embedded-opentype'),
       url('Stem-Thin.svg#Stem-Thin') format('svg'),
       url('Stem-Thin.ttf') format('truetype'),
       url('Stem-Thin.woff') format('woff'),
       url('Stem-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

