@font-face {
  font-family: 'Stem-ExtraLight';
  src: url('Stem-ExtraLight.eot');
  src: url('Stem-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('Stem-ExtraLight.svg#Stem-ExtraLight') format('svg'),
       url('Stem-ExtraLight.ttf') format('truetype'),
       url('Stem-ExtraLight.woff') format('woff'),
       url('Stem-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

